<?xml version="1.0" encoding="utf-8"?>
<manifest android:sharedUserId="android.uid.system" android:versionCode="16" android:versionName="4.1.2-eng.mochangming.20130815.153012" package="com.android.stocksettings"
  xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <application android:theme="@miui:style/V5.Theme" android:label="@string/stock_settings" android:icon="@mipmap/ic_launcher_settings">
        <activity android:label="@string/stock_settings" android:name="StockSettings" android:exported="false" android:process="com.android.settings">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="com.android.settings.MANUFACTURER_APPLICATION_SETTING" />
                <action android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>
</manifest>